<!DOCTYPE html>

{{> nav }}
{{> repo-form }}
<p>URL: {{ reqUrl }}</p>
<div id='commits' style='margin: 0 auto'>
	<p>COMMITS: </p>
	{{#each commits}}
		<div style='margin-left: 50px'
			<p>COMMIT {{ counter @index }}</p>
			<p>SHA: {{ sha }}</p>
			<p>AUTHOR: {{ commit.author.email }}</p>
			<p>DATE: {{ commit.author.date }}</p>
			<p>MESSAGE: {{ commit.message }}</p>
			<hr>
		</div>
	{{/each}}
</div>
<p>RESPONSE: {{ resBody }}</p>